//custom variables
$primary: #551d99;
$secondary: #6339a5;
$success: #22946e;
$info: #21498a;
$warning: #a87a2a;
$danger: #9c2121;
$light: #ffffffa6;
$dark: #121212;

//import bootstrap files
@import "node_modules/bootstrap/scss/bootstrap";


